﻿@page
@model PerfumeManagementSystem.Pages.Perfume.UpdateModel
@{
}
<update-perfume></update-perfume>
@*<form method="post">
        <input type="text" asp-for="CurrentEmployee.EmployeeId" hidden />

        <label class="col-form-label" asp-for="CurrentEmployee.Name"></label>
        <input type="text" asp-for="CurrentEmployee.Name" class="form-control" />
        <span asp-validation-for="CurrentEmployee.Name" class="text-danger"></span>
        <br />
        <label class="col-form-label" asp-for="CurrentEmployee.Email"></label>
        <input type="text" asp-for="CurrentEmployee.Email" class="form-control" />
        <span asp-validation-for="CurrentEmployee.Email" class="text-danger"></span>
        <br />
        <label class="col-form-label" asp-for="CurrentEmployee.PhoneNumber"></label>
        <input type="text" asp-for="CurrentEmployee.PhoneNumber" class="form-control" />
        <span asp-validation-for="CurrentEmployee.PhoneNumber" class="text-danger"></span>
        <br />
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>*@