﻿<template>
    <div>
        <div v-if="isAddPerfume === false">
            <button class="btn btn-primary" type="button" @click="addNewPerfume">Add New Perfume</button>
            <input type="text" v-model="filterByName" @change="fetch()" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Perfume Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(perfume,index) in perfumes" :key="index">
                        <td>{{perfume.perfumeName}}</td>
                        <td>{{perfume.quantity}}</td>
                        <td>
                            <a :href="'/perfume/update?perfumeId='+perfume.perfumeId" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @click="deletePerfume(perfume.perfumeId)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                            <a :href="'/perfume/IndexApp?perfumeId='+perfume.perfumeId" class="btn btn-primary"><fa-icon icon="question-circle"></fa-icon>Detail</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-if="isAddPerfume === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertPerfume">
                    <label class="col-form-label">Perfume Name</label>
                    <validation-provider name="PerfumeName" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newPerfume.name" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Quantity</label>
                    <validation-provider name="Quantity" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newPerfume.quantity" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>
    </div>
</template>

<script lang="ts">import Vue from 'vue';
    import Component from 'vue-class-component';
    import { PerfumeService, PerfumeModel } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import { PerfumeModelTemp } from '../models/IPerfumeModel';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListEmployee) {
            //await this.getEmployees();
            await this.fetch();
        }
    })

    export default class ListEmployee extends Vue {
        service: PerfumeService = new PerfumeService();

        perfumes: PerfumeModelTemp[] = [];

        isAddPerfume = false;

        newPerfume: PerfumeModel = {
            perfumeName: '',
            quantity: ''
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }

        async getPerfumes(): Promise<void> {

        }

        async insertEmployee(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            await this.getPerfumes();

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            this.isAddPerfume = false;
        }

        addNewEmployee(): void {
            this.isAddPerfume = true;
            return;
        }

        async updatePerfume(perfumeId): Promise<void> {
            await this.getPerfumes();
            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }


        async deletePerfume(perfumeId): Promise<void> {
            await this.getPerfumes();

            swal.fire({
                title: '~~yeayy~~',
                icon: 'success',
                text: 'Success delete perfume' + perfumeId
            })
        }
    }</script>
