﻿<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updatePerfume">
                <label class="col-form-label">Perfume Name</label>
                <validation-provider name="PerfumeName" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newPerume.perfumeName" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Quantity</label>
                <validation-provider name="Email" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newPerfume.quantity" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />
                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">import Vue from 'vue';
    import Component from 'vue-class-component';
    import { PerfumeService, PerfumeModel } from '../services/NSwagService';
    import { PerfumeServiceSingleton } from '../services/PerfumeService';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdatePerfume) {
            await this.getSpecificPerfume()
        }
    })

    export default class UpdatePerfume extends Vue {
        service: PerfumeService = new PerfumeService();
        serviceTest = PerfumeServiceSingleton;

        newPerfume: PerfumeModel = {
            perfumeName: '',
            quantity: ''
        }


        async updatePerfume(): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Update this perfume data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.serviceTest.updatePerfume(this.newPerfume);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    )
                }
            })
        }

        async getSpecificPerfume(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const perfumeId = urlParams.get('perfumeId')?.valueOf();
            this.newPerfume = await this.service.getSpesificPerfume(perfumeId);
        }
    }</script>
